<div class="col-md-4">
</div>
<div class="col-md-4">
  <h1 class=""><%= "Send a Sphynx" %></h1>
</div>
<div class="col-md-4">
</div>
<p></p><p></p><p></p><p></p>

<div class="jumbotron">
  <form class="form-horizontal">
    <div class="input-field col s6">
      <%= text_field_tag "users_name", nil, placeholder: "Your name" %>
    </div>
    <div class="input-field col s6">
      <%= text_field_tag "phone_number", nil, placeholder: "Who needs a sphynx in their life?"%>
      <%= submit_tag 'send', class: :"btn-floating btn-large waves-effect waves-light red", method: :post, url: :'create' %>
    </div>
  </form>
</div>
