<div class="col-md-4">
</div>
<div class="col-md-4">
  <h1 class=""><h1>You sent:</h1></h1>
</div>
  <div class="col-md-4">
</div>
<p></p><p></p><p></p><p></p>

<div class="jumbotron">
  <%= image_tag @image %>
  <%= link_to 'Send another sphynx', root_path, class: 'waves-effect waves-light btn' %>
</div>